In [1]:
import os
import pandas as pd
import requests
from requests import get
from datetime import datetime
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
query="pokemon"
url = f"https://api.pushshift.io/reddit/search/comment/?q={query}"
request = requests.get(url)
json_response = request.json()
# json_response

In [2]:
def get_pushshift_data(data_type, **kwargs):
 
    base_url = f"https://api.pushshift.io/reddit/search/{data_type}/"
    payload = kwargs
    request = requests.get(base_url, params=payload)
    return request.json()

In [3]:
data_type="comment"    
query="python"         
duration="1460d"        
size=500               
sort_type="score"       
sort="desc"             
aggs="subreddit"

In [5]:
data_all = []

for req in range(0, 47):
    data = get_pushshift_data(data_type="submission",
                          q="pokemon",
                          after=duration,
                          limit=499,
                          metadata=True)
    
    for item in data['data']:
        data_all.append(item)
        
    duration = data['data'][-1]['created_utc']+2629743
    if req % 4 == 0:
        print(req)

0
4
8
12
16
20
24
28
32
36
40
44

In [6]:
data_all[0]

{'author': 'dimsum4sale',
 'author_created_utc': 1419294004,
 'author_flair_css_class': 'default',
 'author_flair_text': '2724-1629-1613 || Elia (ΩR, M)',
 'author_fullname': 't2_k9n5h',
 'brand_safe': True,
 'contest_mode': False,
 'created_utc': 1484690004,
 'domain': 'self.pokemontrades',
 'full_link': 'https://www.reddit.com/r/pokemontrades/comments/5ol1nb/ft_6iv_naughty_purple_miniors_lf_aprimons/',
 'gilded': 0,
 'id': '5ol1nb',
 'is_self': True,
 'link_flair_css_class': 'casual',
 'link_flair_text': 'Casual',
 'locked': False,
 'media_embed': {},
 'num_comments': 24,
 'over_18': False,
 'permalink': '/r/pokemontrades/comments/5ol1nb/ft_6iv_naughty_purple_miniors_lf_aprimons/',
 'retrieved_on': 1489445893,
 'score': 1,
 'secure_media_embed': {},
 'selftext': "[casual] \n\nDon't really care about egg moves or IVs for the mons. Matching ball color to either the pokemon regular or shiny colors would be appreciated.",
 'spoiler': False,
 'stickied': False,
 'subreddit': 'pokemontrades',
 'subreddit_id': 't5_2rmov',
 'suggested_sort': 'new',
 'thumbnail': 'self',
 'title': 'FT: 6IV Naughty purple Miniors LF: Aprimons',
 'url': 'https://www.reddit.com/r/pokemontrades/comments/5ol1nb/ft_6iv_naughty_purple_miniors_lf_aprimons/'}

In [7]:
requests.get

In [8]:
len(data['data'])
data['data'][-1]

{'all_awardings': [],
 'allow_live_comments': False,
 'author': '_Brave_Sparrow',
 'author_flair_css_class': None,
 'author_flair_richtext': [],
 'author_flair_text': None,
 'author_flair_type': 'text',
 'author_fullname': 't2_81ghxuly',
 'author_patreon_flair': False,
 'author_premium': False,
 'awarders': [],
 'can_mod_post': False,
 'contest_mode': False,
 'created_utc': 1606222882,
 'domain': 'i.redd.it',
 'full_link': 'https://www.reddit.com/r/pokemon/comments/k04k2z/oc_a_little_while_ago_i_just_posted_a_small/',
 'gildings': {},
 'id': 'k04k2z',
 'is_crosspostable': True,
 'is_meta': False,
 'is_original_content': True,
 'is_reddit_media_domain': True,
 'is_robot_indexable': True,
 'is_self': False,
 'is_video': False,
 'link_flair_background_color': '#e868c1',
 'link_flair_css_class': 'art',
 'link_flair_richtext': [{'e': 'text', 't': 'Art'}],
 'link_flair_template_id': '8f77149a-51d9-11e6-b9e0-0e81bf422d7b',
 'link_flair_text': 'Art',
 'link_flair_text_color': 'light',
 'link_flair_type': 'richtext',
 'locked': False,
 'media_only': False,
 'no_follow': True,
 'num_comments': 9,
 'num_crossposts': 0,
 'over_18': False,
 'parent_whitelist_status': 'all_ads',
 'permalink': '/r/pokemon/comments/k04k2z/oc_a_little_while_ago_i_just_posted_a_small/',
 'pinned': False,
 'post_hint': 'image',
 'preview': {'enabled': True,
  'images': [{'id': 'aTMDfGD4hTbzFBNIiiAlkxK5obmsPn2VjGzHG_-LLWE',
    'resolutions': [{'height': 81,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=3c34f6b46b4cd15f6967556c610126430dd235a7',
      'width': 108},
     {'height': 162,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=4856234a70df94bc6396703b54a4aa5ccab68b8f',
      'width': 216},
     {'height': 240,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=edfb7c4ad75456eb66c35a8323a09cb60e0887ea',
      'width': 320},
     {'height': 480,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=6180de5aff215a560a9da5d2b0331085a5fe72b4',
      'width': 640},
     {'height': 720,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=f0326715261faca46786513ecbd83b7212c1214b',
      'width': 960},
     {'height': 810,
      'url': 'https://preview.redd.it/hr0galfar6161.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=c8094c67db41528810395e322c8ee5deea8d253d',
      'width': 1080}],
    'source': {'height': 2448,
     'url': 'https://preview.redd.it/hr0galfar6161.jpg?auto=webp&amp;s=2be1db99d587f0fc3373f97b85de552e3139ccb8',
     'width': 3264},
    'variants': {}}]},
 'pwls': 6,
 'retrieved_on': 1606222893,
 'score': 1,
 'selftext': '',
 'send_replies': True,
 'spoiler': False,
 'stickied': False,
 'subreddit': 'pokemon',
 'subreddit_id': 't5_2qmeb',
 'subreddit_subscribers': 3024067,
 'subreddit_type': 'public',
 'thumbnail': 'https://b.thumbs.redditmedia.com/ERPY5zzyOEYYVXso-LuhtO8XBJkP6ONtOkB8CdTRwqQ.jpg',
 'thumbnail_height': 105,
 'thumbnail_width': 140,
 'title': "[OC] A little while ago, I just posted a small question here asking about Pokemon to draw since I couldn't decide myself, so here they are! Ampharos, Fennekin and Land Forme Shaymin (sorry I couldn't do Lucario :P)! Please put your ideas in the comments below for more I can draw, thanks!",
 'total_awards_received': 0,
 'treatment_tags': [],
 'upvote_ratio': 1.0,
 'url': 'https://i.redd.it/hr0galfar6161.jpg',
 'url_overridden_by_dest': 'https://i.redd.it/hr0galfar6161.jpg',
 'whitelist_status': 'all_ads',
 'wls': 6}

In [9]:
data['metadata']

{'after': 1606212504,
 'agg_size': 100,
 'api_version': '3.0',
 'before': None,
 'es_query': {'query': {'bool': {'filter': {'bool': {'must': [{'range': {'created_utc': {'gt': 1606212504}}},
       {'simple_query_string': {'default_operator': 'and',
         'fields': ['title^5', 'selftext^2'],
         'query': 'pokemon'}}],
      'should': []}},
    'must_not': []}},
  'size': 100,
  'sort': {'created_utc': 'asc'}},
 'execution_time_milliseconds': 800.64,
 'index': 'rs_deltae',
 'limit': '499',
 'metadata': 'True',
 'q': 'pokemon',
 'ranges': [{'range': {'created_utc': {'gt': 1606212504}}}],
 'results_returned': 100,
 'shards': {'failed': 0, 'skipped': 0, 'successful': 4, 'total': 4},
 'size': 100,
 'sort': 'asc',
 'sort_type': 'created_utc',
 'timed_out': False,
 'total_results': 71641}

In [10]:
df = pd.DataFrame(data_all)
df.head()

,all_awardings,allow_live_comments,approved_at_utc,author,author_cakeday,author_created_utc,author_flair_background_color,author_flair_css_class,author_flair_richtext,author_flair_template_id,...,thumbnail_width,title,total_awards_received,treatment_tags,updated_utc,upvote_ratio,url,url_overridden_by_dest,whitelist_status,wls
0,NaN,NaN,NaN,dimsum4sale,NaN,1.419294e+09,NaN,default,NaN,NaN,...,NaN,FT: 6IV Naughty purple Miniors LF: Aprimons,NaN,NaN,NaN,NaN,https://www.reddit.com/r/pokemontrades/comment...,NaN,NaN,NaN
1,NaN,NaN,NaN,[deleted],NaN,NaN,NaN,None,NaN,NaN,...,NaN,"""And this is a Rotomdex!"" ""Ooo~!"" [Pokemon SM]",NaN,NaN,NaN,NaN,https://cdn.awwni.me/viqh.jpg,NaN,NaN,NaN
2,NaN,NaN,NaN,BackYouDirtyApe,NaN,1.417485e+09,NaN,medalbronze,NaN,NaN,...,NaN,[7th] Breedjects for everyone! ヽ(･∀･)ﾉ,NaN,NaN,NaN,NaN,https://www.reddit.com/r/Pokemongiveaway/comme...,NaN,NaN,NaN
3,NaN,NaN,NaN,FCowperwood,NaN,1.437038e+09,NaN,None,NaN,NaN,...,NaN,Pokémon Go generated revenues of $950 million ...,NaN,NaN,NaN,NaN,https://www.reddit.com/r/investing/comments/5o...,NaN,NaN,NaN
4,NaN,NaN,NaN,Jcorb,NaN,1.366869e+09,NaN,0-7 kantoflair 8,NaN,NaN,...,NaN,"What are the coolest-looking Shiny versions, t...",NaN,NaN,NaN,NaN,https://www.reddit.com/r/pokemon/comments/5ol3...,NaN,NaN,NaN

In [11]:
df['created_utc'].head()

0    1484690004
1    1484690089
2    1484690372
3    1484690538
4    1484690548
Name: created_utc, dtype: int64

In [12]:
def epoch_time(x):
    datetime_time = datetime.fromtimestamp(x)
    timestampStr = datetime_time.strftime("%b-%Y")
    return timestampStr

In [13]:
df['created_utc'].unique()

array([1484690004, 1484690089, 1484690372, ..., 1606222680, 1606222740,
       1606222882], dtype=int64)

In [14]:
df['created_utc'] = df['created_utc'].apply(lambda x: epoch_time(int(float(x))))

In [15]:
df.dtypes

all_awardings                     object
allow_live_comments               object
approved_at_utc                  float64
author                            object
author_cakeday                    object
author_created_utc               float64
author_flair_background_color     object
author_flair_css_class            object
author_flair_richtext             object
author_flair_template_id          object
author_flair_text                 object
author_flair_text_color           object
author_flair_type                 object
author_fullname                   object
author_patreon_flair              object
author_premium                    object
awarders                          object
banned_at_utc                    float64
banned_by                         object
brand_safe                        object
can_mod_post                      object
category                          object
collections                       object
content_categories                object
contest_mode                        bool
created_utc                       object
crosspost_parent                  object
crosspost_parent_list             object
discussion_type                   object
distinguished                     object
                                  ...
removed_by                        object
removed_by_category               object
retrieved_on                       int64
rpan_video                        object
rte_mode                          object
score                              int64
secure_media                      object
secure_media_embed                object
selftext                          object
send_replies                      object
spoiler                             bool
steward_reports                   object
stickied                            bool
subreddit                         object
subreddit_id                      object
subreddit_subscribers            float64
subreddit_type                    object
suggested_sort                    object
thumbnail                         object
thumbnail_height                 float64
thumbnail_width                  float64
title                             object
total_awards_received            float64
treatment_tags                    object
updated_utc                      float64
upvote_ratio                     float64
url                               object
url_overridden_by_dest            object
whitelist_status                  object
wls                              float64
Length: 100, dtype: object

In [16]:
df_cutc = df['created_utc']
df_cutc.tail()

4695    Nov-2020
4696    Nov-2020
4697    Nov-2020
4698    Nov-2020
4699    Nov-2020
Name: created_utc, dtype: object

In [17]:
sentiments = []

for post in df['selftext']:
    try:
        text = post
        results = sid.polarity_scores(text)
        compound = results['compound']
        pos = results['pos']
        neu = results['neu']
        neg = results['neg']

        sentiments.append({
            'text': text,
            'Compound': compound,
            'Positive': pos,
            'Negative': neg,
            'Neutral': neu,
        })
    except AttributeError:
        pass
    
scores_df = pd.DataFrame(sentiments)
scores_df.tail()

,Compound,Negative,Neutral,Positive,text
4686,0.7003,0.000,0.848,0.152,"Im a 28m guy from spain, looking to make new f..."
4687,0.1128,0.111,0.770,0.119,"I installed the game, but when I open the game..."
4688,0.5647,0.021,0.904,0.074,Top mins:. (Hearts) \n ...
4689,0.6124,0.025,0.915,0.060,So I saw this on the /r/gamingleaksandrumors s...
4690,0.0000,0.000,0.000,0.000,

In [18]:
sentiments2 = []

In [19]:
def sentiment_analysis(selftext):
    try:
        text = selftext
        results = sid.polarity_scores(text)
        compound = results['compound']
        pos = results['pos']
        neu = results['neu']
        neg = results['neg']
        return [compound, pos, neu, neg]
    except AttributeError:
        pass

In [20]:
df['selftext'] = df['selftext'].astype('str')

In [21]:
df['compound'] = df['selftext'].apply(lambda x: sid.polarity_scores(x)['compound'])

In [22]:
df['pos'] = df['selftext'].apply(lambda x: sid.polarity_scores(x)['pos'])

In [23]:
df['neu'] = df['selftext'].apply(lambda x: sid.polarity_scores(x)['neu'])

In [24]:
df['neg'] = df['selftext'].apply(lambda x: sid.polarity_scores(x)['neg'])

In [25]:
df.drop(['domain', 'author_flair_text', 'brand_safe', 'suggested_sort', 'thumbnail', 'banned_by', 'distinguished', 'author_created_utc', 'author_flair_css_class', 'author_fullname', 'contest_mode', 'subreddit_id', 'suggested_sort', 'url', 'title', 'stickied', 'gilded', 'edited'], axis=1, inplace=True)

In [26]:
df.head()

,all_awardings,allow_live_comments,approved_at_utc,author,author_cakeday,author_flair_background_color,author_flair_richtext,author_flair_template_id,author_flair_text_color,author_flair_type,...,treatment_tags,updated_utc,upvote_ratio,url_overridden_by_dest,whitelist_status,wls,compound,pos,neu,neg
0,NaN,NaN,NaN,dimsum4sale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1167,0.109,0.796,0.094
1,NaN,NaN,NaN,[deleted],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.000,1.000,0.000
2,NaN,NaN,NaN,BackYouDirtyApe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.8816,0.062,0.919,0.018
3,NaN,NaN,NaN,FCowperwood,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.4033,0.075,0.788,0.138
4,NaN,NaN,NaN,Jcorb,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.9121,0.219,0.721,0.060

In [27]:
scores_df = pd.DataFrame(sentiments2)
scores_df.tail()

Empty DataFrame
Columns: []
Index: []

In [28]:
new = df[['created_utc', 'compound', 'pos', 'neu', 'neg']].copy()
new.head()

  created_utc  compound    pos    neu    neg
0    Jan-2017    0.1167  0.109  0.796  0.094
1    Jan-2017    0.0000  0.000  1.000  0.000
2    Jan-2017    0.8816  0.062  0.919  0.018
3    Jan-2017   -0.4033  0.075  0.788  0.138
4    Jan-2017    0.9121  0.219  0.721  0.060

In [29]:
new.tail()

     created_utc  compound    pos    neu    neg
4695    Nov-2020    0.7003  0.152  0.848  0.000
4696    Nov-2020    0.1128  0.119  0.770  0.111
4697    Nov-2020    0.5647  0.074  0.904  0.021
4698    Nov-2020    0.6124  0.060  0.915  0.025
4699    Nov-2020    0.0000  0.000  0.000  0.000

In [30]:
import numpy as np

In [31]:
new1 = new.groupby(['created_utc'])

In [32]:
g = new.groupby(["created_utc"])

In [43]:
compound_avg = g.aggregate({"compound":np.mean, "pos":np.mean, "neu":np.mean, "neg":np.mean})

In [44]:
compound_avg

             compound      pos      neu      neg
created_utc
Apr-2017     0.269981  0.07286  0.64494  0.03222
Apr-2018     0.333444  0.09353  0.70482  0.04167
Apr-2019     0.259108  0.08304  0.55421  0.03278
Apr-2020     0.308078  0.08700  0.53353  0.02946
Aug-2017     0.361332  0.08288  0.64115  0.02597
Aug-2018     0.290733  0.08459  0.61624  0.02920
Aug-2019     0.267904  0.08237  0.53516  0.02252
Aug-2020     0.237838  0.06829  0.47345  0.02828
Dec-2017     0.227731  0.05470  0.51177  0.02355
Dec-2018     0.347832  0.08383  0.60637  0.02979
Dec-2019     0.351937  0.10896  0.56959  0.02147
Feb-2017     0.275204  0.07156  0.71917  0.02928
Feb-2018     0.328516  0.07877  0.75797  0.04326
Feb-2019     0.294936  0.09353  0.53421  0.03224
Feb-2020     0.251132  0.07779  0.66752  0.03467
Jan-2017     0.277913  0.06869  0.65729  0.03404
Jan-2018     0.302175  0.07174  0.67265  0.02559
Jan-2019     0.169447  0.07059  0.58862  0.05078
Jan-2020     0.242686  0.07246  0.56953  0.02804
Jul-2017     0.244886  0.06053  0.63376  0.02572
Jul-2018     0.358203  0.09673  0.69916  0.03409
Jul-2019     0.284224  0.07614  0.54181  0.03210
Jul-2020     0.172568  0.07067  0.73726  0.03208
Jun-2017     0.280844  0.06921  0.68714  0.03371
Jun-2018     0.401266  0.10792  0.72293  0.02916
Jun-2019     0.301417  0.07977  0.47273  0.02751
Jun-2020     0.228600  0.06039  0.60787  0.02175
Mar-2017     0.344761  0.08094  0.70258  0.02645
Mar-2018     0.301021  0.07442  0.56481  0.03076
Mar-2019     0.231985  0.06847  0.54399  0.02754
Mar-2020     0.234992  0.07821  0.63676  0.03505
May-2017     0.322395  0.06772  0.56689  0.02541
May-2018     0.306011  0.08397  0.67957  0.03648
May-2019     0.284685  0.08186  0.52404  0.02408
May-2020     0.315261  0.09223  0.66412  0.03368
Nov-2017     0.307441  0.07667  0.70020  0.02310
Nov-2018     0.317991  0.09180  0.66853  0.02971
Nov-2019     0.246639  0.09033  0.66992  0.02969
Nov-2020     0.307137  0.08118  0.57475  0.02405
Oct-2017     0.144814  0.06302  0.59758  0.03941
Oct-2018     0.231077  0.07309  0.49247  0.03443
Oct-2019     0.317579  0.07483  0.51365  0.03157
Oct-2020     0.237399  0.07638  0.70870  0.02487
Sep-2017     0.410778  0.09402  0.59041  0.03552
Sep-2018     0.180057  0.05908  0.43121  0.01969
Sep-2019     0.303609  0.08444  0.64696  0.02860
Sep-2020     0.239775  0.06209  0.46010  0.01786